[Desktop Entry]
Name=Gcolor2
GenericName=Gcolor2
Comment=Simple GTK2 color selector and picker
Exec=gcolor2
Icon=gcolor2
Terminal=false
Type=Application
Categories=Application;Graphics;
